$color_back_general: #FFF4FD;
$color_back_dark:#110038;
$color_rosa:#F7C9F3;
$color_blanco: #fffffF;
$color_barras_azul:#4180F6;
$color_grisOscuro:#B4B4B4;
$color_grisResultadoBusqueda: #CCCCCC;
$color_borde:#110038;
$color_shadow: #E6E6E6;
$back_barras_dark:  linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$back_barras_light: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$color_boton_dark: #EE3EFE;
$color_boton_dark_hover: #CE36DB;
$color_botonAzul_dark: #2E32FB;
$box_dark:inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
$box_h3: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
$box_imgSugerencia: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
$box_boton_dark: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
$box_input_dark: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
$box_busqueda:inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
$box_input_light: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
$box_boton_light: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
$box_boton_verMas_dark: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
$box_boton_verMas_Light: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Chakra Petch', sans-serif;
}

.index, .upload{
    background: $color_back_general;
&.dark{
    background: $color_back_dark;
}
    
}

h1 {
    background-image: $back_barras_light;
    box-shadow: 0 1px 0 0 #110038;
    font-size: 12px;
    color: white;
    font-weight: 300;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 4px;
    width: 100%;

   body.dark & {
       background-image: $back_barras_dark;
   } 
}

.imgEncabezado{
    display: flex;
    align-items: center;
 .arrow{
     margin-right: 10px;
     display: none;
 }
}

.encabezado {
    padding-left:100px;
    padding-right:140px ;
    padding-top: 35px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   z-index: 1;
   position: relative;
    
  .botones{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      z-index: 1;
            }  
    
    .icono {
       width: 102.6px ;
       height: 64px;
       padding-right: 685.4px;
    }
    input {
        background: $color_rosa;
        border: 1px solid $color_borde;
        box-shadow: $box_boton_light;
        height: 36px;
        font-size: 16px;
        body.dark & {
            background: $color_boton_dark;
            box-shadow: $box_boton_dark;
            color: $color_blanco;}
         
    }

    input:hover {
    outline: 1px dotted #110038;
    outline-offset: -4px;
    background: #E6BBE2;
    body.dark & {
        background: $color_boton_dark_hover;
    }
    }

    input:active{
        outline: 1px dotted #110038;
        outline-offset: -4px;
        background: #E6BBE2;
    }

    .boton_crear {
        width: 144px;
        margin-right: 16px; 
        height: 38px;

    }

    .menu {
        position: relative;
        height: 36px;
        margin: 0;
        padding: 0;
       // width: 172px;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    
    }
    .elegir{ 
        position: relative;
     //   width: 146px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            background: #F7C9F3;
           border: 1px solid #110038;
            box-shadow: $box_boton_light;
           padding-left:24px;
            body.dark & {
                background: $color_boton_dark;
                box-shadow: $box_boton_dark;
                color: $color_blanco;}     
       

    #drop{
                border-left: 1px solid #110038;
                border-top: 1px solid #110038;
                border-bottom:1px solid #110038 ;
                box-shadow: $box_boton_light;
               padding: 0px 14px 0px 14px;
                background: transparent;
                margin-left: 24px;
                height: 35px;
                display: flex;

                body.dark & {
                    box-shadow: $box_boton_dark;
                    }            

     img{
         background:transparent;
        align-self: center;}           
            }
        
 } 

        ul { 
            position: absolute;
            display: none; 
            list-style: none;
            color: #110038;
            margin: 0px;
            padding: 0px;
            text-decoration: none;
            z-index: 3;
           height: 104px;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;  
        }
        #temaLinkDay, #temaLinkNight{
            text-decoration: none;
            padding: 7px 0px 7px 16px;
            background: transparent;
            color: #110038;
            
          }

          #temaLinkNight{

            body.dark & {
                color: $color_blanco;
               }}

        .menu:hover> ul {
            display: block;
            background: #E6E6E6;
            width: 100%;
            body.dark & {
                background: $color_grisOscuro;
               }  
        }

    .elegir:hover {
        outline: 1px dotted #110038;
        outline-offset: -4px;
        background: #E6BBE2;

        body.dark & {
            background: $color_boton_dark_hover;
            }  
              }  
              
    #drop:hover{
        outline: 1px dotted #110038;
        outline-offset: -4px;
                      }           

    .menu:hover > ul > #day { 
        background: #FFF4FD;
        position: relative;
        border: 1px solid #CCA6C9;
        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
        margin: 10px;
        z-index: 3;
        padding: 7px 0px 7px 0px;
        body.dark & {
            background: #CCCCCC;
            border: 1px solid #808080;
            box-shadow: $box_input_light;
            } 
    }
            
    .menu:hover > ul > #night { 
        position: relative;
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        margin: 10px 10px 0px 10px;
        z-index: 3;
        padding: 7px 0px 7px 0px;
        body.dark & {
            background: $color_botonAzul_dark;
            border: 1px solid rgba(51,53,143,0.20);
            box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
            color: $color_blanco;
            }
  } 

  #misGuifos{
      background: transparent;
    text-decoration: none;
    margin-left: 16.5px;
    align-self: center;
    font-size: 16px;
    color: #110038;
    border: none;
    body.dark & {
      
        color: $color_blanco;
        }
  }
  
  #misGuifos:hover{
    border: 1px dotted #110038;
    body.dark & {
        border: 1px dotted $color_blanco;
        }
  } 
  
  #misGuifos:active{
      color: $color_grisResultadoBusqueda;
    
  }
}

.busqueda {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 100px;
    margin-right: 140px;
    margin-top: 38px;
    padding: 3px;
    position: relative;
    z-index: 0;
    body.dark & {
        box-shadow: $box_busqueda;
        }
         #titulosBarras{
                background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
                font-size: 14px;
                color: #FFFFFF;
                font-weight: 700;
                padding: 3px;
                
                body.dark & {
                    background-image: $back_barras_dark;
                    
                    }



            }
.buscar{
    background: #E6E6E6;
    position: relative;
    z-index: -1;
    display: grid;
    grid-template-columns: 87% 13%;
    grid-template-rows: 1;
    body.dark & {
        background: $color_grisOscuro;
        }


    .input_buscar{
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        font-size: 16px;
        color: #B4B4B4;
        letter-spacing: 0;
        line-height: 22px;
        margin: 12px 15px 12px 8px;
        padding: 13px 16px;
        z-index: 0;
        position: relative;
            }

      .input_buscar:focus {
        color: #110038;
      }      
}
}

.botonBuscar{
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 18px;
    padding: 9px 14px 9px 10px;
    margin: 12px 15px 12px 8px;
    z-index: 0;
    position: relative;

    body.dark & {
        background: $color_grisOscuro;
        color: #8F8F8F;
        }

    img {
        padding-right: 10px;
        background: transparent;
        }
}

.botonBuscarInput{
    background: #F7C9F3;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    color:#110038;
    letter-spacing: 0;
    line-height: 18px;
     padding: 9px 14px 9px 10px;

     body.dark & {
        background: $color_boton_dark;
        color: $color_blanco;
        box-shadow: $box_boton_dark;
        }

    img {
        padding-right: 10px;
        background: transparent;
        } 
}

.botonBuscarActive{
    outline: 1px dotted #110038;
    outline-offset: -4px;
    background: #F7C9F3;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    color:#110038;
    letter-spacing: 0;
    line-height: 18px;
     padding: 9px 14px 9px 10px;

     body.dark & {
        
        color: $color_blanco;
        background: $color_boton_dark_hover;
        }  

    img {
        padding-right: 10px;
        background: transparent;
        }
}

#resultBusqueda{
    display: none;
    position: absolute;
    z-index: 3;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        left: 100px;
        right: 140px;
        padding: 17px 0 17px 0;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;

        body.dark & {
            background: $color_grisOscuro;
            } 
        
        div{
            background: #F0F0F0;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            margin: 0 128px 11px 15px;
            padding: 6px 0 6px 15px;
            body.dark & {
                background: $color_grisResultadoBusqueda;
                } 
            }

        #result1{
            background:#E6E6E6; 
            outline: 1px dotted #110038;
            outline-offset: -4px;

            body.dark & {
                background: $color_grisResultadoBusqueda;
                } 
        }
        #result3{
            margin-bottom: 0;
        }
    }
    #botonesBusqueda{
     display: none;
    margin-left: 100px;
    margin-top: 12px;
    overflow: hidden;
    } 
    
    .botBusqueda{
        background: #4180F6;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 18px;
        padding: 8px 7px 8px 7px;
        margin-right: 8px; 
    }
 .botBusqueda:hover{
         cursor: pointer;
        }

.winCrear{
    width: 690px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin: 75px 30% 153px 30%;

    body.dark & {
        background: $color_grisOscuro;

    }
   
     .barraCrear{
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); 
        box-shadow: inset -2px -2px 0px 0px #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        font-size: 14px;
        color: #FFFFFF;
        padding: 4px 4px 4px 7px;

        body.dark & {
            background-image: $back_barras_dark;

        }
     }
     section{
        background: transparent;
         padding-top: 30px;
         display: flex;
         margin: 3px;
         
         img{
            background:transparent;
             padding-left: 25px;
         }
        	.h4crear{
                font-size: 16px;
                color: #110038;
                letter-spacing: 0;
                line-height: 22px;
                padding-left: 16px;
                background: transparent;
                 }
        }
    .crearTexto{
        background: transparent;
        padding: 7px 73px 28px 93px;
        font-size: 14px;
        margin: 2px;
        .cursiva{
            font-weight: bold;
            font-style: italic;
            background: transparent;
        }
        .negrita{
            font-weight: bold;
            background: transparent;
        }
    }    
    input{
        background: #FFF4FD;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        font-size: 16px;
        margin-bottom: 36px;
        width: 144px;
        height: 36px;

        body.dark & {
            background-color: $color_boton_dark;
            color: white;
        }
    }
    .botonComenzar{
        background-color: #F7C9F3;
        margin-left: 16px;
        margin-right: 36px;

        body.dark & {
            background-color: $color_boton_dark;
        }
    }  
    .botonCancelar{
        margin-left: 344px;
    }
}
 

.chequeoCaptura{
    display: none;
    width: 662px;
    background: #E6E6E6;
    margin: 75px 30% 153px 30%;
    padding-bottom: 16px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

    body.dark & {
        background: $color_grisOscuro;
    }

    h2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); 
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        font-size: 14px;
        color: #FFFFFF;
       padding-left: 7px;
       margin: 2px;
       body.dark & {
        background-image: $back_barras_dark;
             }

    
    span{
        background: transparent;
    }
    img{
        margin: 5px 0 5px 410px;
    }

}

    .videoGuifo{
        margin: 11px;
        width: 640px;
        height: 480px;
    }

    .preGuifo{
        width: 640px;
        height: 480px;
    }

    #btnRepetir, #btnSubir, #btnCancelar, #btnListo, #btnLink{
        display: none;
        margin-right: 16px;
        padding: 9px;
    } 
  
    #btnRepetir, #btnCancelar, #btnLink  {
        background: #FFF4FD;
        //margin-left: 200px;
        body.dark & {
            background-color: $color_back_dark;
            color: white;
        }
    }  

    #btnRepetir:hover, #btnCancelar:hover, #btnLink:hover,#btnSubir:hover, #btnListo:hover {
        outline: 1px dotted #110038;
            outline-offset: -4px;
            body.dark & {  
                outline: 1px dotted white;  
            } 
    }
    
    .botonListo{
        background: #FF6161;
        color: #FFFFFF;
        display: none;
    }  
   
    .botonesCaptura{
    background: transparent;
    display: flex;
    justify-content: flex-end;
}
   

    button{
       display: flex;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        width: 180px;
        text-decoration: none;
        align-items: center;
        font-size: 16px;
        margin-left: 470px;
        span{
            background:transparent;
        }
        img{  
            background: transparent; 
            border-right: 1px solid #110038;
            padding: 10px;
            margin-right: 35px;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        }  
        
        body.dark & {
            color:white;
                }
    }
}

    .botonCapturar, #btnSubir, #btnListo {
             background: #F7C9F3;

                body.dark & {
                     background-color: $color_boton_dark;
                         }
        }




h3{
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    font-weight: 400;
    margin: 64px 140px 18px 100px;
    padding: 7px;

}

#imagenTendencia{
display: grid;
   margin: 0px 190px 40px 100px;
   grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  justify-content: stretch;
  justify-items: stretch;
  
}

#tendencia1, .tendenciaStyle{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
   height: 298px;
    align-content: center;
    display: flex;
    flex-direction: column;
    outline: 1px dotted #110038;
    outline-offset: -5px;
    justify-content: center;
    align-content: stretch;

    img{

        margin: 4px 4px 0px 4px;
        border: none;
        align-self: center;
    }
}

#tendencia5, #tendencia10, #tendencia12{
    grid-column: span 2; 
}

.barraPrimeraTendencia{
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    border: none;
    margin: 0px 4px 4px 4px;
    padding: 3px;
    body.dark & { 
        background-image: $back_barras_dark; 
    }
 
}

.styleImgTendencia{
height: 298px;
width: 98%;

}

.secSugerencia{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: 1;
    margin: 19px 120px 64px 104px;
   // justify-content: center;
}

.h3_tendencia{
    margin-top: 64px;
}

.imagenesSugerencia{
   display: flex;
   margin-right: 20px;
   flex-direction: column;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;


    .barra{
        margin: 3px 4px 2px 4px;
        display: flex;
        justify-content: space-between;
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);

        h2{
        font-size: 14px;
        color: #FFFFFF;
        background: transparent;
        margin: 3px;
        }
        img{
            background: transparent;
        }

        body.dark & { 
            background-image: $back_barras_dark; 
        }
    }


    .imgTendencia {
    width: fill;
    height: 310px;
    z-index: 1;
    position: relative;
    align-self: center;
    margin: 4px;
    }

    .imgTendencia:hover{
        outline: 1px dotted #110038;
        outline-offset: -4px;
    }

   
  
    input{
        width: 81px;
        height: 34px;
         background: #4180F6;
         border: 1px solid #4C2F99;
            box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 18px;
            padding: 8px 7px 8px 7px;
         position: absolute;
             margin-left: 20px;
            top: 670px;
            z-index: 4;

          body.dark & { 
             background: $color_botonAzul_dark; 
             }
    }

   input:hover { 
        outline: 1px dotted #110038;
        outline-offset: -5px;
    }

}

.misGifs{
    display: none;   
}
#imagenesGuifos{
    display: flex;
    margin: 0px 140px 30px 100px;
    flex-wrap: wrap;
   justify-content: flex-start;
  
}

.imgGuifo{
    margin: 16px 16px 16px 0;
  
}

.subiendoGuifo{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 640px;
        height: 480px;
    div{
       
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #titulo1, img, h5, h4{
        background: transparent;
        }
   
    img{
        margin: 10px;
    }
    
}

.time-bar{
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
    display: flex;
    width: auto;
    margin-top: 41px;
    .square{
        background: #999999;
        margin: 2px;
        width: 12px;
      height: 20px;
    }
}

.square-pink{
    background: #F7C9F3;
    margin: 2px;
        width: 12px;
      height: 20px;
      body.dark & { 
        background: $color_boton_dark; 
        }
  
}

.popUp{
    display: none;
    position: absolute;
    top:50%;
    left: 40%;
   

    h4{
    color: #FFFFFF;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    padding: 20px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    

    body.dark & { 
        background-image: $back_barras_dark; 
        }
    }
    
}